.parallel {
  width: 100vw;
  height: 100vh;

  background-image: url("../../../assets/cloud.png"),
    url("../../../assets/planet2-intro.jpeg");
  background-size: cover;
  background-position: 0 50%, center center;
  background-repeat: no-repeat;
  animation: 50s para infinite linear;
  position: relative;
}

@keyframes para {
  100% {
    background-position: 500px 50%, center center;
  }
}

.cloud {
  color: rgba(0, 0, 0, 0.521);
}
