@import "../../global.style.scss";

.slide {
  backface-visibility: hidden;
  // grid-area: 1/-1;
  // grid-area: 2 / -1;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  justify-self: center;
  // width: 20rem;
  width: 26rem;
  // height: 30rem;
  height: 42rem;
  opacity: 0.2;
  margin-top: 5rem;
  background-size: cover;
  background-position: center center;
  border-radius: 2%;
  // transition: all 800ms ease-in-out;
  transition: all 1s cubic-bezier(0.27, -0.49, 0, 2.02);

  // z-index: var(--zIndex);
  // z-index: auto;
  // z-index: var(--slideOrder);

  //! X: slide order, Y: tilting degree(left || right)
  transform: translateX(calc(110% * var(--slideOrder)))
    rotateY(calc(-30deg * var(--tiltDirection))) scale(0.95);

  // transform-style: preserve-3d;
  // perspective: 1000px;

  &--active {
    opacity: 1;
    cursor: pointer;
    //* Variables define
    // -0.5 => Touching effect. Adjusting tilting degree.
    --x: calc(var(--tiltX) - 0.5);
    --y: calc(var(--tiltY) - 0.5);

    // pointer-events: auto;

    //* Set to give 3D effect to its children(text)
    transform-style: preserve-3d;
    perspective: 1000px;

    //! Tilting Effect
    &:hover {
      transition: none;
      transform: rotateY(calc(var(--x) * 30deg))
        rotateX(calc(var(--y) * -30deg)) scale(1) translateY(-1rem);
    }
  }
}

.slide.lazy-img {
  filter: blur(5px);
}

//! Text Animation
.slide__content {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.3rem #000;

  //* 3D effect(Z)
  // transform-style: preserve-3d;
  // perspective: 1000px;

  transform: translateY(30rem) translateZ(8rem);
  transition: all 1s cubic-bezier(0, 1.29, 0.6, 1.38);
}

.slide--active {
  .slide__content {
    transform: translateY(15rem) translateZ(1rem) translateX(-1rem);
    // transition: all 1s cubic-bezier(0, 1.29, 0.6, 1.38);
    // transition: all 1s ease-in-out;
  }

  .slide__title {
    display: inline-block;
  }

  .slide__title::after {
    content: "";
    border-top: #fff 1px solid;
    width: 100%;
    display: block;
  }
}

.slide--hidden {
  opacity: 0;
  transform: translateY(15rem);
}

//! Media query
@include respond(tab-port) {
  .slide {
    width: 16rem;
    height: 30rem;
  }
}

@include respond(phone) {
  .slide {
    width: 20rem;
    height: 30rem;
  }
}

@include respond(phone-xsm) {
  .slide {
    // height: 25rem;
  }
}
