@import "../../global.style.scss";

.checkout__product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // background-color: $color--grey;
  // background-color: rgb(26, 26, 26);

  .itemBox__photo {
    // border: 1px white solid;
    margin: 2rem;
    background-color: $color--grey;
    // background-color: rgba(73, 73, 73, 0.397);
    border-radius: 2%;

    div {
      width: 15rem;
      height: 15rem;
      margin: 2rem;
      // fill: #fff;
      text-align: center;
      font-size: 1.5rem;
      position: relative;

      p {
        line-height: 15rem;
        display: inline-block;
        vertical-align: middle;
      }

      img {
        width: 100%;
        @include abCenter;
      }
    }
  }

  .itemInfo {
    width: 30rem;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    // color: black;

    .itemBox__name {
      font-size: 1.7rem;
      font-weight: 400;
    }

    .itemBox__price {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .itemBtns {
    margin-right: 2rem;
  }
}

@include respond(tab-land) {
  .checkout__product {
    .itemBox__photo {
      margin: 0 auto;

      div {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

@include respond(phone) {
  .checkout__product {
    flex-direction: column;

    .itemBtns {
      margin-right: 0;
    }

    .itemBtns {
      margin-bottom: 2rem;
    }
  }
}

@include respond(phone-xsm) {
  .checkout__product {
    .itemInfo {
      width: unset;
    }
  }
}
