// $color-primary: rgb(255, 255, 255);
// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

$color--blue: rgb(0, 110, 255);

$color--purple: rgb(153, 0, 255);
$color--purple--light: rgb(234, 0, 255);
$color--purple--dark: rgb(74, 0, 170);

$color--grey: rgba(255, 255, 255, 0.068);

@mixin textBg {
  background-image: linear-gradient(
    to right bottom,
    $color--blue,
    $color--purple,
    #fff
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin gradientBg {
  background-image: linear-gradient(
    to right bottom,
    $color--purple--light,
    $color--purple--dark
  );
}

@mixin subTitle {
  grid-column: 2 / span 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 7rem 0 5rem 0;
  text-transform: uppercase;
}

@mixin abCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  background-color: black;
}

.gradient {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  position: absolute;
  background: linear-gradient(0180deg, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0));
}

.u-margin-top-small {
  margin-top: 3rem !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.33;
    transform: scale(0.89);
  }
}

//! icons
.gradientBg--first {
  stop-color: $color--purple--light;
}
.gradientBg--second {
  stop-color: $color--purple--dark;
}

.ionicon {
  color: $color--purple;
  fill: url(#gradientBg);

  // font-size: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  // --ionicon-stroke-width: 32px;
  transition: all ease-in-out 1s;
}

.ionicon.rocket--fill {
  animation: rocketShoot 1s cubic-bezier(0.66, -0.02, 0, 0.67) 1 backwards;
}

.ionicon.planet--fill {
  animation: planetRotate 1s cubic-bezier(0.66, -0.02, 0, 0.67) 1 backwards;
}

.link--login {
  .ionicon {
    fill: rgba(255, 255, 255, 0.842);
  }
}

@keyframes rocketShoot {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(-2px, 5px);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
