@import "../../global.style.scss";

.collection {
  // background-color: black;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);

  display: grid;
  grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;
  grid-template-rows: min-content;
  align-content: center;

  &__title {
    @include subTitle;
  }

  &__content {
    margin-top: 10rem;
    grid-column: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    grid-template-rows: min-content;
    justify-content: center;
    column-gap: 5rem;
    // backface-visibility: hidden;
  }
}
