@import "../../global.style.scss";

.booking {
  padding: 5rem;
  color: rgb(85, 85, 85);
  position: relative;
  height: 100%;
}

.profile__empty {
  text-align: center;
}

@include respond(phone) {
  .booking__group {
    flex-direction: column;
    .group {
      margin: 1rem 0 !important;
    }
  }

  .booking {
    padding-top: 3rem;
  }
}
