@import "../../global.style.scss";

.checkout__date-person {
  .checkout__form {
    display: flex;
    margin-bottom: 2rem;
  }

  // .checkout__date,
  // .checkout__person {
  //   margin-bottom: 2rem;
  // }

  .input-group {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-right: 7rem;
    }

    input {
      margin-left: 2.5rem;
      width: 18rem;
      height: 4rem;
      padding: 1rem;
      font-size: 1.5rem;
      background-color: $color--grey;
      background-color: #fff;
      border: none;
      // color: #fff;
    }
  }

  label {
    font-size: 1.5rem;
    margin: 3rem;
  }

  .checkout__pereson {
    width: 10rem;
  }

  .checkout__date-validity {
    padding-left: 2.5rem;
    padding-top: 3px;
    font-size: 1.4rem;
  }

  #date:out-of-range + .checkout__date-validity::after {
    content: "✖ Invalid Date";
    color: orangered;
  }

  #date:in-range + .checkout__date-validity::after {
    content: "✓ Valid Date";
    color: green;
  }

  #date[value=""] + .checkout__date-validity::after {
    color: rgba(235, 235, 235, 0);
  }
}
