.profile {
  width: 100%;
  margin: 0 auto;

  color: rgb(85, 85, 85);
  position: relative;
  padding: 5rem;
  // padding: 7rem 5rem 5rem 5rem;
  // &__container {
  //   padding: 5rem;
  //   width: 50rem;
  // }

  .account__title {
    padding-bottom: 2rem;
  }

  #password {
    background-color: rgba(87, 87, 87, 0.158);
  }

  .form--password {
    margin-top: 4rem;
  }
}

.form--profile,
.form--password {
  button {
    width: 100%;
    // background-color: blue;
  }
}
