.profile {
  width: 100%;
  margin: 0 auto;

  color: rgb(85, 85, 85);
  position: relative;
  padding: 5rem;
  // padding: 7rem 5rem 5rem 5rem;
  // &__container {
  //   padding: 5rem;
  //   width: 50rem;
  // }

  &__photo {
    display: flex;
    align-items: center;
  }

  &__photo-preview {
    width: 7rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .account__title {
    padding-bottom: 2rem;
  }

  #password {
    background-color: rgba(87, 87, 87, 0.158);
  }

  .form--password {
    margin-top: 4rem;
  }
}

.form--profile,
.form--password {
  button {
    width: 100%;
    // background-color: blue;
  }
}

.custom-file-input {
  color: transparent;
}
.photoUploader::-webkit-file-upload-button {
  // visibility: hidden;
  display: none;
}
.photoUploader::before {
  content: "Select Image";
  color: rgb(63, 63, 63);
  display: inline-block;
  // background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.profile__photo {
  svg {
    margin-right: 1.5rem;
    width: 5rem;
    height: 5rem;
  }
}

.profile__error_message {
  font-size: 1.2rem;
  color: orangered;
  padding-bottom: 2rem;
}
