.profile {
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  color: rgb(85, 85, 85);

  h2 {
    padding-bottom: 2rem;
  }

  #password {
    background-color: rgba(87, 87, 87, 0.158);
  }

  .form--password {
    margin-top: 4rem;
  }
}
