@import "../../global.style.scss";

.box3d__wrapper {
  color: #fff;
  width: 100%;
  //   height: 100%;
  perspective: 80rem;
  position: relative;

  .lazy-img {
    filter: blur(10px);
  }

  .img-wrapper {
    width: 100%;
  }
}

.box3d__card {
  width: 35rem;
  height: 50rem;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-14rem);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;

  .front {
    background-color: black;

    // background-image: linear-gradient(
    //   180deg,
    //   rgba(255, 255, 255, 0.253) 0%,
    //   rgba(92, 91, 94, 0) 100%
    // );

    // background-image: linear-gradient(
    //   to right bottom,
    //   rgba(0, 60, 139, 0.479),
    //   rgba(105, 0, 175, 0.493),
    //   rgba(95, 95, 95, 0.315)
    // );
    transform: rotateY(0deg) translateZ(16rem);
    border-radius: 1rem 0.2rem 0 0;
    text-align: center;

    .img-wrapper {
      animation: float 4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
      position: absolute;
      bottom: 20%;
      right: 0%;
      //   transform: translate(-50%, -50%);
      pointer-events: none;
      backface-visibility: hidden;
      //   width: 50px;

      img {
        transform-origin: top right;
        transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-delay: 100ms;
        transform: translateX(10%) rotateZ(13deg);
        pointer-events: none;
        width: 60%;
      }
    }

    .price {
      position: absolute;
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 34px;
      opacity: 0.34;
    }

    h1 {
      padding-top: 2rem;
      margin: 0;
      font-size: 3rem;
      //   letter-spacing: -0.25px;
      //   transform: translateX(-44px);
      text-align: center;
      font-weight: 600;
    }

    p {
      text-align: center;
      //   margin: 0;
      font-weight: 400;
      font-size: 16px;
    }

    @keyframes float {
      0% {
        transform: translateZ(20px);
      }
      100% {
        transform: translateY(-21px) translateZ(30px);
      }
    }
  }

  .right {
    background-size: cover;
    // background-blend-mode: darken;
    // background-color: black;
    opacity: 0.05;
    transform: rotateY(90deg) translateZ(16rem);
    border-radius: 0 1rem 1rem 0.2rem;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.315);
    }

    ul {
      text-align: center;
      font-size: 2.1rem;
      font-weight: 400;
      color: #fff;
      list-style: none;
      margin: 10rem 0 10rem 0;
      background-color: rgba(0, 0, 0, 0.459);
      width: 90%;
    }

    li {
      padding-bottom: 1rem;
      position: relative;
    }
  }
}

.box3d__card > div {
  position: absolute;
  width: 32rem;
  height: 45rem;
  //   padding: 3rem 2rem;
  transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

//* Only for starship cards
.card__starship {
  height: 40rem !important;
}
.card__starship > div {
  height: 36rem !important;
}

.box3d__card:hover {
  transform: translateZ(-16rem) rotateY(-90deg);
}

.box3d__card:hover .front {
  opacity: 0;
}

.box3d__card:hover .right {
  opacity: 1;
}

// .box3d__card:hover ~ .img-wrapper img {
//   //   transform: scale(0.9) translateX(-40%) rotateZ(20deg);
//   // transform: scale(0.9) translateX(40%) translateY(90%) rotateZ(80deg);
//   opacity: 0;
// }
