@import "../../global.style.scss";

.thumbnailSlider {
  width: 100%;
  height: 10rem;
  // border: 1px solid black;
  display: flex;
  margin-bottom: 2rem;

  .thumbnails {
    height: 0px;
  }

  .thumbnail {
    position: relative;

    &__img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      position: absolute;

      transition: all 0.5s cubic-bezier(0.27, -0.49, 0, 1.02);
      transform: translateX(calc(var(--x) * 110%));
      opacity: var(--opacity);
      z-index: var(--zIndex);
    }

    &__btn {
      width: 5rem;
      height: 100%;
      color: rgb(0, 0, 0);
      font-size: 3rem;
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // margin-right: 1rem;
      // padding: 0 auto;
      text-align: left;
    }

    // &__btn::after {
    //   content: "&lang;";
    //   // position: inherit;
    // }
  }
}

@include respond(tab-land) {
  .thumbnailSlider {
    .thumbnail__img {
      width: 7.5rem;
      // height: 8rem;
    }
  }
}
@include respond(phone-xsm) {
  .thumbnailSlider {
    height: 5rem;

    .thumbnail__img {
      width: 5rem;
      height: 5rem;
    }
  }
}
