// @import url("../../assets/icons/alert-circle-outline.svg");
@import "../../global.style.scss";

//! Expired booking
.booking--expired {
  .booking__title::after {
    content: " - Expired" !important;
    color: $color--purple !important;
    font-size: 1.4rem;
    margin: 0 0 0 auto;
    text-align: center;
  }

  #departureDate {
    color: $color--purple;
  }
  button {
    // background-color: rgb(197, 197, 197);
    // background-color: $color--purple--dark;
  }
  .btn-anim::before {
    // background-color: rgb(126, 126, 126) !important;
    // background-color: rgba(202, 54, 0, 0.726);
    background-color: rgba(37, 37, 37, 0.747);
  }
}

.booking__group {
  display: flex;

  .group > * {
    font-size: 1.4rem !important;
    border-bottom: none !important;
  }

  .group #departureDate {
    width: 15rem;
  }

  .item__block--middle {
    margin: 0;
  }
}

#form--booking {
  button {
    // margin: 0 auto;
    width: 100%;
    // display: none;
  }

  .booking__title {
    // color: $color--accent;
  }

  .title__line {
    content: "";
    display: block;
    border-bottom: 1px rgb(185, 185, 185) solid;
  }

  .booking__subtitle {
    margin-left: 5px;
    font-size: 1.4rem;
    font-weight: normal;
    color: black;
  }

  .booking__createdDate {
    font-size: 1.2rem;
    color: $color--purple;
    // color: rgb(131, 131, 131);
    margin-bottom: 1rem;
    display: flex;
    // margin: 0 0 2rem auto;
    justify-content: flex-end;
    justify-self: flex-end;
  }
}

.form--booking:not(:last-child) {
  margin-bottom: 5rem;
}
