@import "../../global.style.scss";

.headline {
  width: 100vw;
  height: 20rem;
  background-color: black;
  // background-image: linear-gradient(
  //   to bottom,
  //   rgb(0, 0, 0),
  //   rgba(255, 166, 0, 0.021)
  // );

  position: relative;

  &__content {
    @include abCenter;
    color: #fff;
    text-align: center;

    h2 {
      font-size: 4rem;
      font-weight: 200;
    }
  }
}
