.alert {
  background-color: rgb(0, 0, 0);
  //   height: 5rem;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1;
  color: #fff;
  font-size: 1.5rem;

  &--error {
    background-color: rgb(202, 0, 0);
  }
  &--success {
    background-color: rgb(4, 124, 0);
  }
}

.hidden {
  display: none;
}
