.banner {
  backface-visibility: hidden;
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  //   flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  &__img {
    display: flex;
    flex-direction: column;

    transition: all 1s cubic-bezier(0.27, -0.49, 0, 2.02);

    .banner__photo {
      &--planets,
      &--starship--1 {
        width: 20rem;
        // z-index: 105;
      }

      &--astronaut,
      &--starship--2 {
        width: 47rem;
        transform: scaleX(-1);
        position: absolute;
        // z-index: 110;
      }
    }
  }

  &__context {
    margin: 0 2rem;
  }

  &__pretitle {
    font-size: 4rem;
    font-weight: 200;
  }

  &__title {
    font-size: 5rem;
    font-weight: 200;
  }

  &__paragraph {
    font-size: 2.5rem;
    font-weight: 200;
  }
}

//! Second banner
.banner--second {
  flex-direction: row-reverse;

  .banner__context {
    margin-top: 5rem;
  }
}

.banner--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.lazy-img {
  filter: blur(20px);
}
