@import "../../global.style.scss";

.account {
  width: 100vw;
  // min-height: 100vh;
  background-color: black;
  color: #fff;

  &__container {
    display: flex;

    // justify-content: center;
    max-width: 90rem;
    background-color: black;
    // margin-top: 20rem;
    margin: 10rem auto 0 auto;
    // padding: 20rem;
    // border: 1px #fff solid;
  }

  &__content {
    // min-width: 40rem;
    background-color: #fff;
    // padding: 5rem;
    width: 50rem;
  }

  &__menu ul {
    display: flex;
    flex-direction: column;
    // border: 1px #fff solid;
    padding: 2rem 5rem 2rem 2rem;
    line-height: 3;
    font-size: 1.5rem;

    li {
      display: flex;
      align-items: center;

      svg {
        margin-right: 2rem;
      }
    }
  }
}

@include respond(tab-port) {
  .account {
    &__container {
      flex-direction: column;
      // margin: 10rem auto;
      align-items: center;
    }

    &__menu {
      width: 50rem;

      ul {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@include respond(phone) {
  .account {
    &__content {
      width: 35rem;
    }

    &__menu {
      width: 35rem;
      margin: 0 auto;

      ul {
        padding: 0;
      }

      .ionicon {
        margin-right: 1rem;
      }
    }
  }
}
