// $color-primary: rgb(255, 255, 255);
// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100&display=swap");

@mixin subTitle {
  grid-column: 2 / span 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 7rem 0 5rem 0;
  text-transform: uppercase;
}

@mixin abCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
