@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway:ital,wght@0,200;0,400;0,600;1,200&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 62.5%; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
