.slide {
  grid-area: 1/-1;
  width: 20rem;
  height: 30rem;

  // position: absolute;
  border: 1px solid black;
  transform: translateX(calc(100% * var(--slideOrder)))
    rotateY(calc(-25deg * var(--tiltDirection)));

  transition: all 0.5s ease-in-out;

  background-size: cover;
  background-position: center center;

  &--active {
    //! - 0.5: to tilt both sides
    --x: calc(var(--tiltX) - 0.5);
    --y: calc(var(--tiltY) - 0.5);

    border: red 1px solid;
    // opacity: 1;

    //! lower value, more tilting to me. Set to high so prevent from too much tilting
    transform: perspective(1000px);

    &:hover {
      //! tilting effect
      transition: none;
      transform: rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}
