.slide {
  grid-area: 1/-1;
  width: 20rem;
  height: 30rem;
  opacity: 0.3;
  margin: 5rem;
  // border: 1px solid black;
  transition: all 800ms ease-in-out;
  background-size: cover;
  background-position: center center;
  // backface-visibility: hidden;
  // z-index: var(--zIndex);
  // z-index: auto;
  // z-index: var(--slideOrder);

  //! X: slide order, Y: tilting degree(left || right)
  transform: translateX(calc(100% * var(--slideOrder)))
    rotateY(calc(-30deg * var(--tiltDirection))) scale(0.95);

  // transform-style: preserve-3d;
  // perspective: 1000px;

  &--active {
    // border: red 1px solid;
    opacity: 1;
    //* Variables define: - 0.5 => Touching effect. Adjusting tilting degree.
    --x: calc(var(--tiltX) - 0.5);
    --y: calc(var(--tiltY) - 0.5);

    pointer-events: auto;

    //* Set to give 3D effect to its children(text)
    transform-style: preserve-3d;

    //* Lower value, more tilting effect(3D).
    // Set to high so prevent from too much tilting.
    perspective: 800px;

    //! Tilting Effect
    &:hover {
      transition: none;
      transform: rotateY(calc(var(--x) * 30deg))
        rotateX(calc(var(--y) * -30deg)) scale(1);
    }
  }
}

//! Text Animation
.slide__content {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 0.6rem 0.3rem #000;

  //* 3D effect(Z)
  transform-style: preserve-3d;
  perspective: 1000px;

  transform: translateY(30rem) translateZ(8rem);
  transition: all 1s cubic-bezier(0, 1.29, 0.6, 1.38);
}

.slide--active {
  .slide__content {
    transform: translateY(15rem) translateZ(1rem) translateX(-1rem);
  }
}
