.slider {
  backface-visibility: hidden;
  // z-index: 1;
  height: 70vh;
  background-color: black;
  position: relative;
  // padding-bottom: 1rem;
  color: #fff;

  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: center;

  // transform-style: preserve-3d;
  perspective: 1000px;
  // mix-blend-mode: overlay;

  transition: all 1s cubic-bezier(0.27, -0.49, 0, 2.02);

  &__title {
    // @include subTitle;
    // text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 3rem;
  }

  &__btn--prev,
  &__btn--next {
    position: absolute;
    top: 55%;
    padding: 1rem;
    z-index: 200;
    font-size: 5rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
  }

  &__btn--prev {
    left: 0;
    margin-left: 20%;
  }

  &__btn--next {
    right: 0;
    margin-right: 20%;
  }
}

.scrollTo--slider {
  position: absolute;
  top: -13rem;
}
