@import "../../global.style.scss";

.cartPopup {
  cursor: default;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px $color--accent solid;
  color: rgb(0, 0, 0);
  //   border: 1px solid #fff;

  h3 {
    // color: black;
    color: rgb(0, 0, 0);
    color: $color--accent;
    // background-color: $color--accent;
    background-color: rgb(255, 255, 255);
    font-size: 1.4rem;
    border-bottom: 1px solid $color--accent;
  }

  h4 {
    font-size: 1.2rem;
  }

  .item__block--start > img {
    width: 5rem;
    margin: 0 2rem;
  }

  .item__block--middle,
  .item__block--solo {
    margin: 0 auto;
  }

  .item__block--empty {
    padding: 3rem 0;
  }

  button {
    background-color: $color--accent;
    // background-color: black;
    margin-bottom: 2rem;
  }
}
