@import "../../global.style.scss";

.cartPopup {
  cursor: default;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  transform: translateX(-25%);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px $color--accent solid;
  color: rgb(0, 0, 0);
  //   border: 1px solid #fff;

  animation: revealIconsPopup 1s cubic-bezier(0, 0.55, 0.56, 0.95) 1 forwards;

  h3 {
    // color: black;
    color: rgb(0, 0, 0);
    color: $color--accent;
    // background-color: $color--accent;
    background-color: rgb(255, 255, 255);
    font-size: 1.4rem;
    // border-bottom: 1px solid $color--accent;
    border-bottom: 1px solid rgba(0, 140, 255, 0.336);
    margin-bottom: 1px;
  }

  button {
    background-color: $color--accent;
    // background-color: black;
    margin-bottom: 2rem;
  }

  .item__block--empty {
    padding: 3rem 0;
    font-size: 1.2rem;
  }
}

.cartPopup__item {
  h4 {
    font-size: 1.2rem;
  }

  .item__block--start > img {
    width: 5rem;
    margin: 0 2rem;
  }

  .item__block--middle,
  .item__block--solo {
    margin: 0 auto;
  }
}

.anim--added {
  // background-color: $color--accent;
  background-color: rgba(0, 119, 255, 0.521);
  // border: 1px solid $color--accent;
}

@keyframes revealIconsPopup {
  0% {
    transform: translate(-25%, -10px);
  }
  // 70% {
  //   transform: translateY(5px);
  // }
  100% {
    transform: translate(-25%, 0px);
  }
}
